@charset "UTF-8";
/* creating columns */
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.32%;
}
.col-5{
    width: 41.65%;
}
.col-6{
    width: 49.98%;
}
.col-7{
    width: 58.31%;
}
.col-8{
    width: 66.64%;
}
.col-9{
    width: 74.97%;
}
.col-10{
    width: 83.30%;
}
.col-11{
    width: 91.63%;
}
.col-12{
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header css */
.container{
    height: fit-content;
    font-family: sans-serif;
}

.contact{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact i{
    font-size: 30px;
    margin-right: 10px;
}

.contact table{
    margin-left: 500px;
}

.contact td{
    padding: 0 10px;
}

header{
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #faf9f9;
}

#logoText{
    height: 70px;
    color: #45B649;
    padding-top: 8px;
}

#logoText hr, #layer_2 hr{
    width: 4px;
    height: 50px;
    transform: rotate(180deg);
    margin: 5px 10px 0 20px;
    float: left;
    border: none;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(180deg, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#logoText h1,h5{
    margin: 0.3%;
}

#menu{
    list-style: none;
    height: 70px;
    display: inline-flex;
    align-items: center;
}

#menu li{
    padding: 25px;
    color: #000000;
    cursor: pointer;
}

#menu i{
    font-size: 20px;
    color: #000000;
}

#menu li:hover{
    color: #45B649;
}

section{
    height: 90vh;
    overflow: hidden;
    position: relative;
}

#slider{
    display: flex;
    position: relative;
    animation: slide 32s infinite;
}

@keyframes slide{
    0%{
        top: 0;
        left: 0;
    }
    20%{
        top: 0;
        left: -1366px;
    }
    40%{
        top: 0;
        left: -2732px;
    }
    60%{
        top: 0;
        left: -4098px;
    }
    80%{
        top: 0;
        left: -5464px;
    }
    100%{
        top: 0;
        left: 0;
    }
}

#slider img{
    width: 1366px;
    height: 768px;
    float: left;
}

#layer_2{
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0,0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

#layer_2 hr{
    height: 180px;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(180deg, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#text{
    width: 50%;
}

#text h1{
    margin: 1%;
}

#text button{
    background: transparent;
    border: 2px solid #cccccc;
    padding: 7px;
    width: 15%;
    border-radius: 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#text li{
    margin-left: 20px;
}

#text button:hover{
    background-color: #45B649;
}

#connect{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#connect div{
    width: 25%;
    color: #ffffff;
}

#connect i{
    float: left;
    font-size: 25px;
}

#connect h1{
    margin: 0 0 0 40px;
    line-height: 25px;
}

.about{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about hr,.services hr{
    width: 13%;
    height: 2px;
    float: left;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about div{
    width: 70%;
}

.about h1{
    color: #45B649;
}

.about h1,h4{
    margin: 10px 0;
}

.about button{
    padding: 9px;
    width: 10%;
    border-radius: 20px;
    border: none;
    background-color: #45B649;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

.services{
    height: 400px;
    color: #45B649;
    padding-left: 150px;
    padding-top: 50px;
    background-color: rgb(231, 231, 231);
}

.services h1{
    margin: 20px 0 10px 0;
}

.serviceBox{
    width: 100%;
    display: inline-flex;
}

.serviceBox div{
    width: 17%;
    height: 200px;
    padding: 15px;
    background-color: #cccccc;
    border-radius: 10px;
    margin: 20px;
    font-size: 13px;
    text-align: center;
}

.services img{
    width: 100%;
    height: 150px;
}