@charset "UTF-8";
/* creating columns */
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.32%;
}
.col-5{
    width: 41.65%;
}
.col-6{
    width: 49.98%;
}
.col-7{
    width: 58.31%;
}
.col-8{
    width: 66.64%;
}
.col-9{
    width: 74.97%;
}
.col-10{
    width: 83.30%;
}
.col-11{
    width: 91.63%;
}
.col-12{
    width: 100%;
}

/* header designing  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 100px;
    /* background-color: #e9e9e9; */
    display: flex;
    align-items: center;
}

#nameLogo{
    font-family: 'Cedarville Cursive', cursive;
    /* color: #9696f0; */
    font-size: 20px;
    padding-left: 30px;
}

#menuLine{
    display: none;
    /* border: 1px solid red; */
    font-size: 30px;
}

#menuBar ul{
    padding-left: 240px;
}

#menuBar a{
    text-decoration: none;
}

#menuBar li{
    display: inline;
    list-style: none;
    padding: 18px;
    font-size: 18px;
    color: #706b6b;
    cursor: pointer;
}

#menuBar li:hover{
    color: #000000;
}
/* header designing end */

/* intro section designing start */
#sec_1{
    display: inline-flex;
    margin-bottom: 50px;
}

#intro{
    padding: 40px;
}

#intro h1{
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 20px;
}

#intro h3,#about h3,#resume h2{
    font-size: 22px;
    color: #8a8484;
    font-weight: normal;
    line-height: 40px;
}

#intro img{
    width: 7%;
    margin-top: 25px;
    margin-right: 10px;
    cursor: pointer;
}

#intro button{
    width: 30%;
    border-radius: 5px;
    padding: 15px;
    border: none;
    margin-right: 40px;
    background-color: rgb(80, 11, 170);
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    margin-top: 25px;
    cursor: pointer;
}

#profilePic img{
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    background-color: #f8f6f6;
    border-radius: 50%;
}
/* intro section designing end */

/* about section designing start */
#sec_2{
    margin-bottom: 50px;
}

#aboutTag #projectsTag,#contactTag{
    height: 80px;
    /* border: 1px solid red; */
}

#slider,#slider3,#slider5{
    width: 30%;
    height: 80px;
    float: right;
    background-color: orangered;
    border-radius: 50px 0 0 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    display: inline-flex;
    height: 80vh;
    padding: 10px;
}

#profilePic2 img{
    width: 70%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 50%;
}

#about,#skills{
    display: flex;
    align-items: center;
}
/* about section designing end */

/* skills section designing start */
#sec_3{
    margin-bottom: 50px;
}

#skillsTag,#resumeTag{
    height: 80px;
}

#slider2,#slider4{
    width: 30%;
    height: 80px;
    float: left;
    background-color: #70c1e0;
    border-radius: 0 50px 50px 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills ul{
    font-size: 22px;
    color: #8a8484;
    font-weight: normal;
    line-height: 40px;
    padding: 40px;
}

#skills{
    padding-left: 30px;
}

#skills li{
    margin-left: 40px;
}

#profilePic3 img{
    width: 70%;
    height: 85%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 50%;
}
/* skills section designing end */

/* projets section designing start */
.container2{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}
.container2 img{
    width: 100%;
    padding: 10px;
    
}
.container2 div{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    background-color: #f8f6f6;
}
.container2 button{
    width: 40%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin: 0 0 5% 30%;
    background-color: rgb(80, 11, 170);
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
/* projets section designing end */

/* resume section designing start */
#resume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
#resume a{
    width: 50%;
    border-radius: 5px;
    padding: 15px;
    border: none;
    margin: 35% 40% 5% 30%;
    background-color: rgb(1, 172, 72);
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
#resumeDisp{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* resume section designing end */

/* contact section designing start */
.container3{
    padding: 5% 10%;
    height: 50vh;
    background-color: #eceaea;
}
.container3 div{
    display: inline-flex;
    font-size: 30px;
    margin: 20px;
    /* border: 1px solid red; */
}
.container3 i{
    margin-right: 10px;
}
/* contact section designing end */

/* footer designing start */
footer{
    width: 100%;
    height: 80px;
    background-color: #eceaea;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
/* footer designing end */

/* Making responsive for mobile screen */
/* header designing */
@media only screen and (max-width: 425px) {
    header{
        /* border: 1px solid red; */
        align-items: normal;
        position: relative;
        height: 3em;
    }

    #nameLogo{
        width: 100%;
        padding-left: 0;
    }

    #menuLine{
        display: block;
        position: absolute;
        right: 0.5em;
        top: 0.2em;
    }

    #menuBar ul{
        display: none;
    }

    #menuBar:hover #menuBar ul{
        position: absolute;
        top: 8em;
        right: .5em;
        display: block;
        padding-left: 0;
    }

    #menuBar li{
        padding: 2em;
        /* flex-direction: column; */
        border: 1px solid red;
    }

    /* Section 1 intro designing */
    #sec_1{
        flex-direction: column;
    }
    #intro{
        width: 100%;
        padding: 0.5em;
    }
    #intro h1{
        font-size: 1.5em;
    }
    #intro h3,#about h3,#resume h2{
        word-wrap: wrap;
        font-size: 1em;
        line-height: 2em;
    }
    #intro button{
        width: 10em;
        font-size: 0.7em;
        padding: 0.7em;
        margin-right: 0.5em;
    }
    #profilePic img{
        width: 25%;
        position: absolute;
        top: 2em;
        right: 1em;
    }

    /* Section 2 about designing */
    #sec_2{
        position: relative;
    }
    #aboutTag #projectsTag,#contactTag{
        height: 1.7em;
    }

    #slider,#slider3,#slider5{
        width: 40%;
        height: 1.7em;
        font-size: 2em;
    }

    #profilePic2{
        width: 40%;
        position: absolute;
    }

    #about,#skills{
        width: 100%;
    }

/* Section 3 skills designing */

}
